* {
  box-sizing: border-box;
}
.clearfix:after {
   content: "";
  display: table;
  clear: both;
}
body{
	background-color: #F8B9B9;
	font-family: 'Sorts Mill Goudy', serif;
	padding-top: 15%;
	margin: 0 auto;

}

.homepage {
	text-align: center;
}

.homepage span {
	text-decoration: underline;
	font-weight: 900;
}

.homepage span:hover {
	color: #ffffff;
}


article {
	text-align: center;
	color: #95989A;
	background-color: #F8E2F1;
	margin: 5%;
	padding: 75px 200px;
}
.firstpage_link {
	text-decoration: none;
	color: #95989A;
	font-weight: 100;
}

@media only screen and (min-width : 320px) and (max-width : 780px){
	body{
		height: 500px;
		width: 100%;
		padding-top: 10%;
		margin: 35% auto;
	}
}