* {
  box-sizing: border-box;
}
.clearfix:after {
   content: "";
  display: table;
  clear: both;
}

body{
	background-color: #F8B9B9;
	font-family: 'Sorts Mill Goudy', serif;
	font-weight: 100;
	padding: 5%;
	margin: 0 auto;

}



#top_row {
	display: inline-flex;
	width: 50% auto;
	height: 300px;
	padding-right: 50px;
	margin-bottom: 100px;
	margin-left: 50px;
}
#top_row h2{
	text-align: center;
}

#tb_one {
	width: 70%;
	height: 250px;
	padding-left: 20px;
	padding-bottom: 20px;
}

#tb_two {
	width: 70%;
	height: 250px;
	padding-left: 20px;
}

#tb_three{
	height: 250px;
	width: 70%;
	padding-left: 20px;
}

#bottom_row {
	display: inline-flex;
	width: 50% auto;
	padding-right: 50px;
	margin-bottom: 100px;
	margin-right: 10px;
	margin-left: 50px;
	height: 300px;

	/*display: inline-flex;
	/*float: left;*/
	/*width: auto;

	padding-left: 50px;
	padding-right: 50px;*/
}
#bottom_row h2{
	text-align: center;
}

#bb_one {
	width: 70%;
	height: 250px;
	padding-left: 20px;
	padding-bottom: 20px;
	/*height: 250px;
	width: 30%;
	padding-bottom: 20px;*/

}

#bb_two {
	width: 70%;
	height: 250px;
	padding-left: 20px;
/*	width: 30%;
	padding-left: 20px;
	padding-bottom: 20px;*/
}

#bb_three{
	height: 250px;
	width: 70%;
	padding-left: 20px;
	/*height: 250px;
	width: 30%;
	padding-left: 20px;
	padding-bottom: 20px;*/
}

#middle_row{
	display: inline-flex;
	width: 50% auto;
	height: 300px;
	padding-right: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 50px;
}
#middle_row h2{
	text-align: center;
}

h1{
	text-align: center;
}
h1:hover {
	background: #ffffff;
}

.next_page{
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;

}

.go_home{
	margin-top: 5%;
	margin-bottom: 5%

}

.previous_page{

}

.linkpages{
	text-align: center;
	

}

@media only screen and (min-width : 320px) and (max-width : 480px){
	#pagess {
		height: 1000px;
		width: 100%;
		padding: 1%;
		margin: 2% auto;
	}

	#top_row {
		height: 100%;
		display: block;
		width: 50%;
		/*padding-top: 2%;*/
	}

	#tb_one {
		width: 70%;
		height: 250px;
		margin-top: 100px;
		margin-bottom: 100px;
		padding-top: 100px;
		padding-bottom: 300px;
	}

	#tb_two {
		width: 70%;
		height: 250px;
		margin-top: 100px;
		margin-bottom: 100px;
		padding-top: 100px;
		padding-bottom: 300px;

	}

	#tb_three{
		height: 250px;
		width: 70%;
		margin-top: 100px;
		margin-bottom: 100px;
		padding-top: 100px;
		padding-bottom: 100px;
	}

	#bottom_row{
		height: 100%;
		display: block;
		width: 50%;
		padding-top: 25px;
		padding-bottom: 20%;
	}

	#bb_one{
		width: 70%;
		height: 250px;
		margin-top: 100px;
		margin-bottom: 100px;
		padding-top: 100px;
		padding-bottom: 300px;
	}

	#bb_two{
		width: 70%;
		height: 250px;
		margin-top: 100px;
		margin-bottom: 100px;
		padding-top: 100px;
		padding-bottom: 300px;

	}
	#bb_three{
		width: 70%;
		height: 250px;
		margin-top: 100px;
		margin-bottom: 100px;
		padding-top: 100px;
		padding-bottom: 100px;

	}

	#mb_three {
		width: 70%;
		height: 250px;
		margin-top: 100px;
		margin-bottom: 100px;
		padding-top: 100px;

		padding-bottom: 100px;

	}

.next_page{
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;

}

#middle_row{
	height: 100%;
	display: block;
	width: 50%;
	padding-top: 5%;
	padding-bottom: 50px;
	}


}

}