body{
	background-color: #F8B9B9;
	font-family: helvetica;
	padding: 30%;
	margin: 0 auto;

}
article {
	text-align: center;
	color: #95989A;
	background-color: #F8E2F1;
	margin: 5%;
	padding: 75px 115px;
}
.firstpage_link {
	text-decoration: none;
	color: #95989A;
	font-weight: 100;
}