* {
  box-sizing: border-box;
}
.clearfix:after {
   content: "";
  display: table;
  clear: both;
}

body{
	background-color: #F8B9B9;
	font-family: helvetica;
	padding: 30%;
	margin: 0 auto;

}

div {
	padding: 10%;
	margin: 5%;
}